*{
    margin:0;
    padding: 0;
}

@font-face{
    font-family: "NetflixSans";
    src: url('../fonts/NetflixSans.woff2')
}
body{
    padding: 0;
    margin: 0;
    font-family: "NetflixSans";
    background: black;
}
.navbar{
    display: grid;
    background-image: url("https://occ-0-3451-3446.1.nflxso.net/art/a78dc/ca38b681a20ec8b6afd8b6cd541cd74bbdba78dc.webp");
    background-position: center;
    background-size: cover;
    grid-template-rows: 80px 730px; 
    z-index: 100;
    
}
nav h2{
    text-align: center;
    margin: 35px auto;
    padding: 0;
    color: hotpink;
}
nav{
    display: grid;
    grid-row: 1;
    grid-template-columns: 200px 2fr 1fr;
    grid-auto-rows: auto
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.display-bars{
    display: flex;
    justify-content: center;
    align-items: center;
}
.display-bars .responsive{
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.is-checked{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.is-checked li {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    width: 100%;
}
ul.firstUl{
    grid-column: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.firstUl li{
    font-size: 15px;
    margin-right: 25px;
    color: rgba(255,255,255,0.8);
    font-weight: bold;
}
ul.secondUl{
    grid-column: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.secondUl li{
    margin-right: 25px;
    color: rgba(255,255,255,0.8);
}
.secondUl li:nth-child(1){
    color: white;
    font-size: 20px;
} 
.secondUl li:nth-child(4){
    color: white;
    font-size: 20px;
} 
.film-advertising{
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro h2{
    padding: 0;
    margin: 0;
    line-height:15px;
    font-size: 35px;
    letter-spacing: 1px;
    word-spacing: 1px;
    color: rgba(250,250,255, 0.7);
}
.intro h1{
    padding: 0;
    margin: 0;
    color: rgba(250,250,210,0.7);
}
.intro h1:nth-child(2){
    font-size: 70px;
}
.intro h1:nth-child(3){
    font-size: 110px;
    letter-spacing: 5px;
}
.intro button{
    background-color: rgba(1,1,1,0.1);
    border: none;
    margin-right: 20px;
    width: 135px;
    height: 30px;
    color: white;
    font-size: 17px;
}
li a{
    color:rgba(250,250,210,0.7);
}
li a:hover{
    color: hotpink;
}
#searchTheMovie{
    display: none;
}
.text{
    border-radius: 12px;
    border: 1px solid darkcyan;
    margin-right: 12px;
    font-size: 17px;
    padding: 0 10px;
}

@media (min-width: 769px) and (max-width: 1024px){
    .navbar{
        grid-template-rows: 80px auto; 
        background-size: cover;
        height: 600px;
        background-repeat: no-repeat;
    }
    .intro h2{
        font-size: 20px;
        margin-bottom: 15px;
    }
    .intro h1:nth-child(2){
        font-size: 30px;
        margin-bottom: 5px;
    }
    .intro h1:nth-child(3){
        font-size: 35px;
        margin-bottom: 5px;
    }
    .intro button{
        width: 100px;
        height: 30px;
        color: white;
        font-size: 15px;
    }
} 

@media (min-width: 639px) and (max-width: 768px){
    .navbar{
        grid-template-rows: 80px auto; 
        background-size: cover;
        height: 400px;
        background-repeat: no-repeat;
    }
    nav{
        grid-template-columns: 1fr 1fr 1fr
    }
    .intro h2{
        font-size: 20px;
        margin-bottom: 15px;
    }
    .intro h1:nth-child(2){
        font-size: 30px;
        margin-bottom: 5px;
    }
    .intro h1:nth-child(3){
        font-size: 35px;
        margin-bottom: 5px;
    }
    #header-button{
        width: 100%;
        display: flex;
        justify-content: space-evenly
    }
    .intro button{
        width: 50%;
        height: 30px;
        color: white;
        font-size: 13px;
    }
    .is-checked li{
        font-size: 12px;
    }
} 


@media (min-width: 425px) and (max-width: 638px){
    .navbar{
        grid-template-rows: 80px auto; 
        background-size: cover;
        height: 300px;
        background-repeat: no-repeat;
    }
    nav{
        grid-template-columns: 1fr 1fr 1fr
    }
    .intro h2{
        font-size: 15px;
        margin-bottom: 15px;
    }
    .intro h1:nth-child(2){
        font-size: 25px;
        margin-bottom: 5px;
    }
    .intro h1:nth-child(3){
        font-size: 28px;
        margin-bottom: 5px;
    }
    #header-button{
        width: 100%;
        display: flex;
        justify-content: space-evenly
    }
    .intro button{
        width: 50%;
        height: 30px;
        color: white;
        font-size: 10px;
    }
    .is-checked li{
        font-size: 12px;
    }
} 


@media (min-width: 320px) and (max-width: 424px){
    .navbar{
        grid-template-rows: 80px auto; 
        background-size: cover;
        height: 200px;
        background-repeat: no-repeat;
    }
    nav{
        grid-template-columns: 1fr 1fr 1fr;
        font-size: 10px;
    }
    .intro h2{
        font-size: 10px;
        margin-bottom: 5px;
    }
    .intro h1:nth-child(2){
        font-size: 15px;
        margin-bottom: 5px;
    }
    .intro h1:nth-child(3){
        font-size: 20px;
        margin-bottom: 10px;
    }
    #header-button{
        width: 100%;
        display: flex;
        justify-content: space-evenly
    }
    .intro button{
        width: 100%;
        height: 20px;
        color: white;
        font-size: 8px;
    }
    .is-checked li{
        font-size: 12px;
    }
    .display-bars .responsive{
        font-size: 15px
    }
    .secondUl li:nth-child(1){
        font-size: 15px
    }
}
