.playing{
    display: grid;
    grid-template-rows: 40px 200px 40px 200px 40px 200px 60px;
    color:rgba(255,255,255,0.8);
}

.firstRow{
    grid-row: 2;
    margin-left: 50px; 
    display: grid;
    grid-template-rows: auto auto;
    overflow-x: auto;
}
.playing p{
    margin: auto 0 auto 50px;
    padding:0;
}
.secondRow{
    grid-row: 4;
    margin-left: 50px; 
    display: grid;
    grid-template-rows: auto auto;
    overflow-x: auto;
}
.thirdRow{
    grid-row: 6; 
    margin-left: 50px;
    display: grid;
    grid-template-rows: auto auto;
    overflow-x: auto;
}
.trendingNow{
    grid-row: 2; 
    display: flex; 
    flex-direction: row;
    height: 150px;
    min-width: 200px;
}
.img{ 
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img button{
    background-color: rgba(1,1,1,0.2);
    color: rgba(255,255,255,0.7);
    border: none;
    font-size: 25px;
}
.img button:hover{
    color: rgba(255,255,255,1);
    cursor: pointer;
}
.img:hover{
    transform: scale(1.5);
    background-size: contain;
    cursor: pointer;
}
  .modal{
    background: black;
    color: white;
    height: 800px;
}
.not-index-z{
    z-index: 0;
    width: 100%;
    height: 100%;
}

@media (min-width: 639px) and (max-width: 768px){
    .playing{
        grid-gap: 20px;
        margin-bottom: 100px;
    }
    .playing p{
        margin: auto 0;
    }
   .firstRow{
       margin-left: 0
   }
   .secondRow{
        margin-left: 0
   }
   .thirdRow{
        margin-left: 0
   }
} 


@media (min-width: 425px) and (max-width: 638px){
    .playing{
        grid-template-rows: 40px 200px 40px 200px 40px 200px;
        grid-gap: 20px;
        margin-bottom: 100px;
    }
    .playing p{
        margin: auto 0;
    }
    .trendingNow{
        min-width: 150px;
        height: 150px
    }
    .img{
        min-width: 150px;
        background-size: 150px;
        height: 150px
    }
   .firstRow{
       margin-left: 0
   }
   .secondRow{
        margin-left: 0
   }
   .thirdRow{
        margin-left: 0
   }
} 


@media (min-width: 320px) and (max-width: 424px){
    .playing{
        grid-template-rows: 40px 150px 40px 150px 40px 150px;
        grid-gap: 20px;
        margin-bottom: 100px;
    }
    .trendingNow{
        min-width: 150px;
        height: 150px
    }
    .img{
        min-width: 150px;
        background-size: 150px;
    }
    .playing p{
        margin: auto 0;
    }
   .firstRow{
       margin-left: 0
   }
   .secondRow{
        margin-left: 0
   }
   .thirdRow{
        margin-left: 0
   }
}
